body {
    background: url('210034.png');
    background-size: cover;
    background-position: 25% center;
}

@media screen and (max-width: 1024px) {
  canvas {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  canvas {
    width: 80vw;
  }
}
@media screen and (max-width: 425px) {
  canvas {
    width: 100vw;
  }
}
