body {
    background: url('210034.png');
    background-size: cover;
    background-position: 25% center;
    display: flex;
    justify-content: flex-end;
    flex-direciton: row;
}

.character-selection {
    background: rgba(128,202,180,.25);
    border-radius: 10px;
    max-width: 600px;
    width: 40vw;
    overflow: auto;
}

.character-selection .selection-wrapper {
    width: 25%;
    padding: 10px;
    display: inline-block;
}

.character-selection .selection-wrapper img {
    width: 100%;
}

@media screen and (max-width: 425px) {
  #live2dWrapper {
    left: 0 !important;
  }
    
  canvas {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  body {
    justify-content: flex-start;
    flex-direction: column;
  }

  .character-selection {
    max-width: 100%;
    width: 100%;
  }

  .character-selection .selection-wrapper {
    width: 100px;
  }
    
  #live2dWrapper {
    left: 10vw !important;
  }
}

@media screen and (min-width: 425px) {
  canvas {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  canvas {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  canvas {
    width: unset;
  }
}
